<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}" >
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
  <h2 th:text="'List of Pet Owners'"></h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 10%;">Id</th>
            <th style="width: 10%;">First Name</th>
            <th style="width: 10%">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <!-- Görünüşe göre hem get ile, hem de normal şekilde kullanılabiliyor. Anladığım kadarıyal aralarında bir fark yok -->
            <td th:text="${owner?.getId()}">1</td>
            <td th:text="${owner?.getFirstName()}">First Name</td>
            <td th:text="${owner?.lastName}">Last Name</td>
            <!-- Soru işareti Safe navigation Operator, boş obje dönerse nullpointer hatası gelmesin diye kullanılıyor -->
        </tr>
        </tbody>
    </table>
</body>
</html>